<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label name="Credentials"></label>
        </dt>
        <dd>
            <input name="file" type="file">
        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload">
</form>
   

@if (ViewBag.Result != null)
{
    <div>@ViewBag.Result</div>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
